@import "App.scss";

.start-tip, .end-tip {
    color: $light-gray;
    font-size: 20px;
    font-family: $big-font;
    margin-top: $spacing-unit;
}

.end-tip {
    margin-bottom: $spacing-unit;
}

.timer-text {
    color: $red;
    font-size: 35px;
    font-weight: bold;
    font-family: $big-font;
}

.next-round-button {
    font-size: 20px !important;
}

.countdown-timer {
    text-align: center;
    width: min-content;
    margin: auto;
    margin-bottom: $spacing-unit;
}

.game-page-unbegun, .login-page {
    margin: $spacing-unit;
}

.game-page-begun {
    margin-top: $spacing-unit;
    align-self: flex-start;
}

.idk {
    font-size: 18px !important;
}

.song-result-head {
    // font-weight: bold;
    color: $light-gray;
}
.song-result {
    font-size: 40px;
    line-height: 1em;
    font-weight: bold;
    color: $white;
}

.overall-score {
    font-size: 60px;
}

.individual-stats {
    display: flex;
    flex-direction: row wrap;
    gap: $spacing-unit * 2;
    justify-content: center;
}