@import "App.scss";

header {
    margin-bottom: $spacing-unit * 2;

    img {
        width: 400px;
        max-width: 100%;
    }
}

.subtitle {
    font-family: $big-font;
}

@media (max-width: 475px) {
    .subtitle {
        font-size: 18px;
    }
}