@import "App.scss";

.name-the-song {
    color: $light-gray;
}

.round-number {
    font-weight: bold;
}

.guess-input {
    appearance: none;
    border: none;
    background: $dark-gray;
    border-bottom: 2px solid $white !important;
    color: $white;
    font-size: 26px;
    text-align: center;
    margin-bottom: $spacing-unit;
    margin-top: 5px;
}